parameters:

    level: 5
    paths:
        - app
        - tests

    stubFiles:
        - phpstan/pest-stubs.php
        - phpstan/tio-stubs.php

    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    noUnnecessaryCollectionCallOnly: ['count', 'first']
    noEnvCallsOutsideOfConfig: false
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Schema\\ColumnDefinition::constrained\(\)#'
        - '#Access to an undefined property [a-zA-Z\\_]+::\$form.#'
        - message: '#Call to protected method .+ of class Illuminate\\Foundation\\Testing\\TestCase#'
          path: tests/*
        - '#Call to an undefined method Illuminate\\Testing\\TestResponse::assertSeeLivewire\(\)#'

